@import url("http://fonts.googleapis.com/css?family=Rokkitt&v1");

.smoke-base { 
	background: none; 
}

.smoke-base .dialog {
  top: 170px;
  left: 25%;
  width: 50%;
  
}

.smoke-base .dialog-inner { 
	padding: 15px;
}

.smoke {
	font-family: 'Rokkitt', arial, serif;
    text-transform: none;
	color:#000000;
	font-weight: normal;
    background-color: #BBBBBB;
    font-size:20px;
	margin: 20px;
}
.dialog-buttons {
	margin: 0px 0 5px 0;
}

.dialog-buttons button {
    border-radius: 3px;
    text-transform: none;
    background-color: #ebebeb;
    color: #333;
    font-size:13px;
    padding:7px 10px;
    margin:0 10px;
}

button.cancel { 
	background-color: #999; 
	color:#222
}

.dialog-prompt{
	margin-top:0;
}
.dialog-prompt input{
	width:300px;
	text-align:center;
	background-color:#ccc;
}