/* 
    Document   : bar_graph
    Created on : Jan 23, 2013, 9:27:50 PM
    Author     : Joshua Graham
    Description:
        Purpose of the stylesheet follows.
*/


.graph_content
{
    position: relative;
    border: 3px #660000 solid;
    padding: 0;
    margin: 125px auto;
    width: 850px;
    height: 350px;
    background: transparent;
    box-shadow: 10px 10px 100px #A4A4A4 ;  
}
.graph_content li:hover 
{ 
    color:#fff; 
    background: #660000;
    cursor: pointer;
}
.graph_content li.selected_tab
{
    color:#fff;
    background:#660000;
}
.view_tabs
{
    position: absolute;
    top: -29px;
    left: 10px;
}
.view_tabs ul
{
    list-style-type:none;
    overflow:hidden;  
    margin: 0;
    padding: 0;
    font-size:0;
}
.view_tabs li
{
    display: inline-block;
    margin: 1px;
    width: 160px;
    font-size:13px;
    color: #660000;
}
#containerWood, #containerIron, #containerHybrid, #containerWedge 
{
    display: block;
    width: 100%;
    height: 100%;
    z-index:1000;
    
}
