#map_canvas
{
  position: relative;
  width: 149px;
  height: 530px;
  margin:auto;
  margin-top: 1em;
}
#canvas
{
  position: relative;
  width: 149px;
  height: 530px;
  background: url("../img/holes/hole1.png");
}
img.overlay
{
  position:absolute;
}
div.change
{
	 position:realitive;
	 text-align:center;
}
#roundChange
{
	margin-top: 4em;
}
div.children
{
	margin:auto;
}
input.img
{
  width: 25px;
  height: 25px;
}
