/* 
    Document   : maps
    Created on : Jan 23, 2013, 1:45:52 PM
    Author     : Joshua Graham
    Description:
        Purpose of the stylesheet follows.
*/


/*<!--==============================all=================================-->*/


.map_content li
{ 
    display: block;
    text-decoration: none;
    color: #660000; 
}
.map_content li:hover 
{ 
    color:#fff; 
    background: #660000;
    cursor: pointer;
}
.map_content li.selected_tab
{
    color:#fff;
    background:#660000;
}



/*<!--==============================map=================================-->*/

.map_content
{
    position: relative;
    border: 3px #660000 solid;
    padding: 0;
    margin: 125px auto 150px;
    width: 750px;
    height: 328px;
/*    width: 800px;
    height: 350px;*/
    box-shadow: 10px 10px 100px #A4A4A4;
}
.map_image img
{
    display: block;
    width: 100%;
    height: 100%;   
}
.par
{
    position:absolute;
    top:-30px;
    right:10px;
}
.par ul
{
    list-style-type: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
}
.par li
{
    color: #000;
    display: inline-block;
    margin: 0 60px 0 0;
}
.par li:hover{background: transparent; color:#000; cursor: default;}


/*<!--==============================tabs=================================-->*/


.view_tabs
{
    position: absolute;
    top: -29px;
    left: 10px;
}
.hole_tabs
{
    position: absolute;
    left: 10px;
    bottom: -33px;
}
.round_tabs
{
    position: absolute;
    left: -34px;
    top: 10px;
}
.view_tabs ul, .hole_tabs ul, .round_tabs ul
{
    list-style-type:none;
    overflow:hidden;  
    margin: 0;
    padding: 0;
    font-size:0;
}
.view_tabs li
{
    display: inline-block;
    margin: 1px;
    width: 160px;
    font-size:13px;
}
.hole_tabs li
{
    display: inline-block;
    width: 30px;
    margin: 1px;
    font-size:13px;
}
.round_tabs li
{
    width: 30px;
    margin: 1px;
    font-size: 13px;
    
}
.round_title
{
    position: absolute;
    top: 40%;
    left: -13%;
    font-size: 13px;
    font-weight: bold;
    /* rotate left 90 */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);   
    -o-transform: rotate(-90deg);
    /*    for IE -> */ 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.hole_title
{
    position: absolute;
    bottom: -23%;
    left: 50%;
    font-size: 13px;
    font-weight: bold;
}






