


/*<!--==============================menu=================================-->*/


nav ul
{
    list-style:none;
    position:absolute;
    z-index:5;
    margin: 0;
    padding: 0;
    font-size:0;
    float:left;
    bottom: -54px;
    left: 20px;

}
nav ul li
{
    display: inline-block;
    margin: 1px;
    width: 90px;
    font-size:13px;
    position:relative;
}
nav ul a
{
    display:block;
    text-decoration:none;
    line-height:20px;
    padding: 4px 6px;
    color: #660000;
}
nav ul ul
{
    visibility: hidden;
    float:left;
    color:#660000; 
    background:transparent;
    list-style:none;
    position:absolute;
    padding:5px; 
}
nav ul li:hover ul li {width: 115px;}
nav ul ul li{float:none;}
nav ul ul a{white-space:nowrap;}
nav ul li:hover ul{ visibility: visible; left:-6px; top:28px; }
nav ul li:hover a{ color:#660000; background:#D8D8D8;}
nav ul li:hover > a{color: #fff;background: #660000;}
nav ul ul li{ box-shadow: 10px 10px 10px #585858 ; }




/*<!--==============================change_golfer=================================-->*/


#change_golfer
{
    list-style:none;
    position:absolute;
    z-index:5;
    margin: 0;
    padding: 0;
    font-size:0;
    bottom: -54px;
    right: 20px;

}
#change_golfer li
{
    display: inline-block;
    margin: 1px;
    width: 150px;
    font-size:13px;
    position:relative;
}
#change_golfer a
{
    display:block;
    text-decoration:none;
    line-height:20px;
    padding: 4px 6px;
    color: #660000;
}
#change_golfer ul
{
    float:left;
    background:#fff;
    background:transparent;
    color:#660000; 
    list-style:none;
    position:absolute;
    padding:5px; 
    visibility: hidden;

}
#change_golfer li:hover ul li {width: 99%;}
#change_golfer ul li{float:none;}
#change_golfer ul a{white-space:nowrap;}
#change_golfer li:hover ul{visibility: visible; left:-25px; }
#change_golfer li:hover > a{color: #fff; background: #660000;}
#change_golfer ul li
{ 
        box-shadow: 10px 10px 10px #585858;
    border: 1px #bdbdbd solid; 
    background: #fff;
    margin-bottom: 3px;
}

#change_golfer input[type="text"]
{
    width: 170px;
    height: 22px;
    color: #848484;
    font: 12px 'TeXGyreAdventorRegular', sans-serif;
    padding-left:5px;
    border: none;
}

#change_golfer select
{
    width: 185px;
    height: 22px;
    color: #848484;
    font: 12px 'TeXGyreAdventorRegular', sans-serif;
    padding-left:5px;
    border: none;
}




/*<!--==============================currently_viewing=================================-->*/


.currently_viewing
{
    position: relative;
    bottom: -154px;
    margin: 0 auto;
    color: #660000;
    text-align: center;
    width: 300px;
}
.currently_viewing span
{
    color: #000;
}
