/* 
    Document   : vector
    Created on : Mar 7, 2013, 2:08:19 PM
    Author     : Craig
    Description:
        Purpose of the stylesheet follows.
*/
@font-face 
{
    font-family: 'TeXGyreAdventorRegular';
    src: url('../fonts/texgyreadventor-regular-webfont.eot');
    src: url('../fonts/texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/texgyreadventor-regular-webfont.woff') format('woff'),
        url('../fonts/texgyreadventor-regular-webfont.ttf') format('truetype'),
        url('../fonts/texgyreadventor-regular-webfont.svg#TeXGyreAdventorRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

root { 
    display: block;
}
*
{
    margin: 0;
    padding: 0;
}
.club_tabs
{
    position: absolute;
    top: -29px;
    left: 10px;
}
.shot_tabs 
{
    position: relative;
    left: -34px;
    top: 10px;
}
.shot_tabs li
{
    width: 30px;
    margin: 1px;
    font-size: 13px;
}

.shot_tabs ul,.club_tabs ul
{
    list-style-type:none;
    overflow:hidden;  
    margin: 0;
    padding: 0;
    font-size:0;
}
.club_tabs li
{
    display: inline-block;
    width: 130px;
    margin: 1px;
    font-size:13px;
}

.shot_title
{
    position: absolute;
    top: 40%;
    left: -13%;
    font-size: 13px;
    font-weight: bold;
    /* rotate left 90 */
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);   
    -o-transform: rotate(-90deg);
    /*    for IE -> */ 
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.club_title
{
    position: absolute;
    bottom: 110%;
    left: 50%;
    font-size: 13px;
    font-weight: bold;
}
.vector_graph li
{ 
    display: block;
    text-decoration: none;
    color: #660000; 
}
.vector_graph li.selected_tab
{
    color:#fff;
    background:#660000;
}
.vector_graph
{
    position: absolute;
    padding: 0;
    margin: 125px auto 150px;
    width: 850px;
    height: 350px;
    background: lightgray;
    bottom: -42.8%;
}


